@charset "UTF-8";
/* @Platform: LMS
 * @Author: xufeng.Mao
 * @Datetime: 2013-01-01
 * @Description: style.css
 */
/* ----------------------------------------------------------- */
/*  						 Global全局 			    	   	   */
/* ----------------------------------------------------------- */

body				{}

h1,h2,h3,h4,h5,h6	{ font-family:"Microsoft YaHei", "黑体";}
h1					{ font-size:30px;}
h2					{ font-size:26px;}
h3					{ font-size:22px;}
h4					{ font-size:18px;}
h5					{ font-size:14px;}
h6					{ font-size:12px;}

.color_gray 		{ color:#aaa;}
.color_red 			{ color:#c00;}
.color_blue 		{ color:#69f}
.color_ora 			{ color:#c90;}
.color_green 		{ color:#00a614; }

.nomargin			{ margin:0;}
.nopadding			{ padding:0;}
.float_r			{ float:right;}
.float_l			{ float:left;}
.noborder			{ border:0;}

.font_14			{ font-size:14px;}


/* Layout 布局 */



.page_head			{ min-width:980px; height:40px;border-bottom: 1px solid #E5E5E5; text-shadow: 0 1px 0 #FFFFFF;background-color: #F3F3F3;
   						 background-image: linear-gradient(#F9F9F9, #F3F3F3);
   						 background-repeat: repeat-x;}
.page_content		{ width:980px; margin:0 auto; background:#f7f7f7; box-shadow:0 0 5px #ddd;}

.page_footer		{ width:980px; margin:20px auto; color:#777; text-align:center;}
.page_footer p		{ line-height:20px; margin:0;}



/* Modify */

	.page_left,
	.page_right			{ float:left; background:#fff;position:relative;}
	.page_left			{ width:174px;min-height: 552px; border: 1px solid #D2D9DD; border-radius: 4px 4px 4px 4px;padding:2px 1px 1px 1px;}
	.page_right			{ width:800px; border-radius:0 4px 4px 0;margin:0 auto;padding:1px 0 0 2px}


/* leftNav */
.page_left li a {
    border-bottom: 2px solid #DADADA;
    border-left: 1px solid rgba(255, 255, 255, 0.7);
    border-right: 1px solid rgba(0, 0, 0, 0.04);
    color: #777777;
    display: block;
    font-size: 12px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
    
    background-color: #EBEBEB;
    background-image: linear-gradient(#FCFCFC, #EBEBEB);
    background-repeat: repeat-x;
    color: #000000;
    margin-bottom: 2px;
}

.page_left li a:hover {
    border-bottom: 2px solid #D26911;
}


#breadcrumb {
	color: #999999;
    font-size: 18px;
    margin: 5px 0 0 5px;
    min-height:21px;
}

#breadcrumb strong.final-path {
    color: #000000;
}

a {
	color:#4183C4;
}

.bold {
    font-weight: bold;
}

#content-view {
    border: 1px solid #D2D9DD;
    border-radius: 4px 4px 4px 4px;
    color: #7B878C;
    font-size: 14px;
    margin: 10px 0;
    padding: 9px 8px 9px;
    min-height: 500px;
}

#js-frame-loading-template{
	display: none;
	position:absolute; 
	top:200px; 
	left:327px;
}
/* ----------------------------------------------------------- */
/*  						 Table 表格 				    	   */
/* ----------------------------------------------------------- */
.tablebox 	 			{ padding:0; width:100%; table-layout:fixed; word-break:break-all; word-wrap:break-word;}
.table_header tr th		{ line-height:18px; padding:8px; text-align:left; background:#e8e8e8 url(../images/table_header.jpg) repeat-x left top; }
.table_body	span		{ margin-right:10px;}
.tablebox th 			{ padding:6px; border:1px solid #d6d6d6; }
.tablebox td 			{ padding:6px; color:#333; border-bottom:1px solid #eee; }
.tablebox td a:hover	{ text-decoration:underline;}
.tablebox td img		{ vertical-align:middle;}
/*序号*/
.tablebox td.td_line	{ padding:0; margin:0; border-bottom:1px dashed #ccc;}
/*序号*/
.tablebox .table_number	{ padding:1px 6px; color:#fff; background:#bbb;-webkit-border-radius:40px; -moz-border-radius:40px; border-radius:40px;}
.tablebox .course_info b{ color:#f90; font-size:16px; padding:0 4px;}









/* ----------------------------------------------------------- */
/*  						 Button 按钮 			    	   */
/* ----------------------------------------------------------- */
.btn {
	display:inline-block;
	padding:0 10px;
	height:24px;
	line-height:22px;
	color:#777;
	text-decoration:none;
	font-weight:bold;
	font-size:12px;
	font-family:Tahoma, Arial, sans-serif;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	position:relative;
	cursor:pointer;
	background:#fff;
	border:0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.btn:hover, 
.btn:focus, 
.btn:active 		{ color:#333; outline:medium none; 
	-webkit-box-shadow: inset 0 0 7px rgba(0,0,0,0.3); 
		   -moz-shadow: inset 0 0 7px rgba(0,0,0,0.3); 
		     -o-shadow: inset 0 0 7px rgba(0,0,0,0.3);
		    -ms-shadow: inset 0 0 7px rgba(0,0,0,0.3);
			box-shadow: inset 0 0 7px rgba(0,0,0,0.3); 
			}
.btn:active 		{ position:relative; bottom:-1px; right:-1px;}

 /*  白 */
.btn_white 			{ color:#444; background:#fff; border:1px solid #ccc; }
.btn_white:hover, 
.btn_white:focus, 
.btn_white:active 	{ color:#000; background:#ddd;}
 /*  灰 */
.btn_gray 			{ color:#444; background:#ddd; }
.btn_gray:hover, 
.btn_gray:focus, 
.btn_gray:active 	{ color:#fff; background:#bbb;}
 /*  红 */
.btn_red 			{ color:#fff; background:#f26242; }
.btn_red:hover, 
.btn_red:focus, 
.btn_red:active 	{ color:#fff; background:#ca3624; }
 /*  绿 */
.btn_green 			{ color:#fff; background:#a3aa59; }
.btn_green:hover, 
.btn_green:focus, 
.btn_green:active 	{ color:#fff; background:#848d2e; }
 /* 蓝 */
.btn_blue 			{ color:#fff; background:#47bcf8; }
.btn_blue:hover, 
.btn_blue:focus, 
.btn_blue:active 	{ color:#fff; background:#0096e2; }
 /*  取消 */
.btn_cancle 		{ color:#fff; background:#ccc; border:1px solid #aaa; }
.btn_cancle:hover, 
.btn_cancle:focus, 
.btn_cancle:active 	{ color:#fff; background:#aaa; border:1px solid #999;}
 /* 保存 */
.btn_save 			{ color:#fff; background:url(../images/btn_blue.png) repeat-x; }
.btn_save:hover, 
.btn_save:focus, 
.btn_save:active 	{ color:#fff; background:#0096e2;}


 /* 分页 */
 .pagination li {
    float: left;
    list-style-type: none;
    padding: 0 10px;
}